button,
textbox,
select,
textarea {
  margin: 0;
  font-size: 100%;
  vertical-align: middle;
}

button,
textbox {
  *overflow: visible;
  line-height: normal;
}

button::-moz-focus-inner,
textbox::-moz-focus-inner {
  padding: 0;
  border: 0;
}

button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  cursor: pointer;
  -webkit-appearance: button;
}
